@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

/* main css */

html, body {
    align-items: center;
    font-family: "Inter Tight", sans-serif;
    font-weight: 500;
    color: #4c606b;
    gap: 80px;
    height: 100%;
    padding: 0 2em;
}

h1{
    font-size: 6rem;
    font-weight: 600;
    margin: 0;
    color: #239de4;
}

h2{
    font-size: 4rem;
    font-weight: 500;
    font-family: "jost";
    text-align: center;
}

h3{
    font-size: 2rem;
    font-weight: 400;
}

p {
    font-size: 1.5rem;
    font-weight: 200;
}

    /* navbar */

    /* header */
    #header {
        display: flex;
        flex-direction: column;
    }

    #themes {
        display: flex;
        gap: 5%;
    }

    /* main article */
    #main-article {
        display: flex;
    }


    /* other articles */
    #other-articles {
        display: flex;
        flex-direction: column;
    }

    .thumbnail {
        display: flex;
        width: 100%;
        object-fit: fill;
        height: auto;
    }

    .main-image {
        display: flex;
        width: 50%;
    }

    .other-article{
        display: flex;
        margin-bottom: 20px;
    }

    /* authors */
    #authors {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 10%
    }

    .author {
        display: flex;
        flex-direction: column;
        width: 33%;
    }

    #footer {
        display: flex;
        justify-content: center;
    }

    /* footer */