@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Parkinsans:wght@300..800&display=swap');


/* main css */

html, body {
    align-items: center;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    color: #4c606b;
    background-color: #e5e5e5;
    gap: 80px;
    height: 100%;
    padding: 0 2em;
}

h1{
    font-size: 6rem;
    font-weight: 600;
    margin: 0;
    color: #239de4;
}

h2{
    font-size: 4rem;
    font-weight: 500;
    text-align: center;
}

h3{
    font-size: 2rem;
    font-weight: 400;
}

h3{
    font-size: 1.75rem;
    font-weight: 300;
}

p {
    font-size: 1.5rem;
    font-weight: 200;
}

    /* navbar */

    /* header */
    #header {
        display: flex;
        flex-direction: column;
    }
    
    .header-img {
        max-width: fit-content;
    }

    #themes {
        display: flex;
        gap: 2%;
    }

    .themes {
        gap: 2%;
    }

    /* main article */
    #main-article {
        display: flex;
        width: 100%;
    }

    .main-article {
        width: 100%;
    }

    .main-content{
        padding: 2%;
        background-color: white;
        width: 100%;
    }

    .content{
        padding: 2%;
        background-color: white;
        width: 70%;
    }

    /* other articles */
    #other-articles {
        display: flex;
        flex-direction: column;
    }

    .other-article{
        display: flex;
        margin-bottom: 20px;
        border-bottom: solid 2px #4c606b;
        background-color: white;
        gap: 3%;
    }

    .thumbnail {
        display: flex;
        width: 100%;
        object-fit: cover;
        height: auto;
    }

    .main-image {
        display: flex;
        width: 70%;
    }

    /* authors */
    #authors {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 3%
    }

    .author {
        display: flex;
        flex-direction: column;
        width: 33%;
        align-items: center;
    }

    .avatar {
        width: 20vw;
    }

    #footer {
        display: flex;
        justify-content: center;
        margin: 40px;
    }

    .footer {
        margin: 40px;
    }

    .read-more{
        border-radius: 3px;
        padding: 10px 20px;
        background-color: greenyellow;
    }

    .read-more a{
        text-decoration: none;
        color: green;
    }
    
    .read-more:hover{
        background-color: green;
        border-color: greenyellow;
        cursor: hand;
    }

    .read-more a:hover{
        color: greenyellow;
    }


    /* footer */