@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Parkinsans:wght@300..800&display=swap');


/* main css */

html, body {
    align-items: center;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    color: #4c606b;
    background-color: #efeff0;
    gap: 80px;
    height: 100%;
}

h1{
    font-size: 6rem;
    font-weight: 600;
    margin: 0;
    color: #239de4;
}

h2{
    font-size: 4rem;
    font-weight: 500;
    text-align: center;
    color: #68b52a;
}

h3{
    font-size: 2rem;
    font-weight: 400;
}

h4{
    font-size: 1.75rem;
    font-weight: 300;
}

p {
    font-size: 1.5rem;
    font-weight: 200;
}

    /* navbar */
    #menu {
        display: flex;
        height: 80px;
        padding: 20px 100px;
        justify-content: space-between;
        background-color: white;
        box-shadow: 0px 11px 24px -10px rgba(66, 68, 90, 1);
     }
     
    #navbar {
        display: flex;
        align-items: center;
        gap: 20px;
        list-style: none;
        margin: 0;
    }

    .link{
        color: gray;
        font-weight: 400;
        text-decoration: none;
    }
     
    .link:hover{
        color: #68b52a;
        font-weight: 600;
        border-bottom: outset 2px #68b52a;
        padding-bottom: 2em;
    }

    #logo {
        display: flex;
        align-items: center;
        gap: 10px;
     }

     #logo img {
        width: 150px;
        height: 150px;
     }

    #login {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .loginavatar{
       width: 50px;
       height: 50px;
       border: solid 2px black;
       border-radius: 100%;
       object-fit: cover;
    }

    /* header */
    #header {
        display: flex;
        flex-direction: column;
        padding: 0 4em;
    }

    #Site-title {
        display: flex;
        justify-content: center;
    }

    #Site-title h4 {
        text-align: center;
    }
    
    .header-img {
        width: 100%;
        max-height: 400px;
        object-fit: cover;
    }

    #themes {
        display: flex;
        gap: 2%;
    }

    .themes {
        gap: 2%;
    }

    /* main article */
    #main-article {
        display: flex;
        width: 100%;
        padding: 0;
    }

    .main-article {
        width: 100%;
    }

    #bg-content {
        display: flex;
        padding: 2%;
        margin: 0 4em;
        background-color: white;
    }

    .main-content{
        width: 60%;
    }

    .main-content h2 {
        text-align: left;
    }

    .content{
        padding: 2%;
        background-color: white;
        width: 70%;
    }

    /* other articles */
    #other-articles {
        display: flex;
        flex-direction: column;
        padding: 0 8em;
    }

    .other-article{
        display: flex;
        margin-bottom: 20px;
        border-bottom: solid 2px #4c606b;
        background-color: white;
        gap: 3%;
    }

    .thumbnail {
        display: flex;
        width: 100%;
        object-fit: cover;
        height: auto;
    }

    .main-image {
        display: flex;
        width: 100%;
    }

    /* authors */
    #writers{
        padding: 0 8em;        
    }

    #authors {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 3%
    }

    .author {
        display: flex;
        flex-direction: column;
        width: 33%;
        align-items: center;
    }

    .avatar {
        width: 20vw;
    }

    #footer {
        display: flex;
        justify-content: center;
        background-color: white;
        width: 100%;
    }

    .footer {
        color: #6b705c;
    }

    .read-more{
        border-bottom: solid 5px black;
        border-right: solid 5px black;
        padding: 10px 20px;
        background-color: #bdfd88;
    }

    .read-more a{
        text-decoration: none;
        color: black;
    }
    
    .read-more:hover{
        transition: .3s ease-in-out;
        background-color: #68b52a;
        border-color: #bdfd88;
        border-top: solid 5px black;
        border-left: solid 6px black;
        border-bottom: solid 1px black;
        border-right: solid 1px black;
        cursor: hand;
    }

    .read-more a:hover{
        transition: .3s ease-in-out;
        color: white;
        font-weight: 500;
    }


    /* footer */